<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:400,400i,700,700i|Raleway:400,400i,700,700i" rel="stylesheet" type='text/css'>
<style>
li {
	font-family: Lora, Georgia, serif;
}
p {
	font-family: Lora, Georgia, serif;
}
table {
	font-family: Lora, Georgia, serif;
}
h2, h3, h4, h5, h6 {
	font-family: Raleway, sans-serif;
}
h1 {
	font-family: "Open Sans", sans-serif;
}
div #notebook {
	background-color: #eeeeee;
	color: #080808;
	width: 1200px;	
	margin: auto;
	padding-left: 0em;
}
div.info {
	font-family: "Open Sans", sans-serif;
	float: right; 
	background-color: #d8c388; 
	color: #544315;
	width: 25em; 
	padding: 1.7em; 
	border: 1px solid #cbd3e5; 
	border-radius: 10px; 
	margin-bottom: 14px; 
	margin-top: 14px; 
	margin-left: 14px; 
	margin-right: 14px; 
	box-shadow: 7px 7px 5px #cccccc; 
	overflow: hidden;
}
#notebook-container {
	background-color: #ffffff;
	font-size: 1.3em; 
	line-height: 150%;
	width: 1000px;
	margin: auto;
	padding-right: 100px;
}
.CodeMirror-code {
	font-size: 1.2em;
	line-height: 100%;
}
</style>
/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/
