<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:400,400i|Raleway:400,400i,700,700i" rel="stylesheet" type='text/css'>
<style  type="text/css">
div.text_cell_render {
	font-family: Lora, serif;
	color: #222222;
}
.text_cell_render p {
	padding-left: 1.5em;
	text-align: justify;
}
.text_cell_render h3, h4, h6 {
	font-family: Raleway, sans-serif;
	color: #005c99;
}
.text_cell_render h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	margin: auto;
	display: block;
}
.text_cell_render h2 {
	font-family: Raleway, sans-serif;
	font-weight: 700; 
	margin-top: 50px;
	display:inline-block;
	padding: 10px 15px;
	background-color: #007acc;
	color: #f8f8f8;
	border-radius: 10px 40px 10px 40px;
	letter-spacing: 3px;
	font-variant: small-caps;
}
.text_cell_render h5 {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	border-style: groove;
	padding:0.5em 0.5em 0.5em 0.5em;
	margin: 1em 0 1em 0;
	line-height: 1.6;
}
div #notebook {
	background-color: #f8f8f8;
	width: 1110px;	
	margin: auto;
	padding-left: 0em;
	border: 3px solid #cbd3e5; 
	box-shadow: 0px 0px 7px 1px #cccccc;
}
div.example {
    background-color:#007acc;
    color: #ffffff;
    margin: auto;
    width: 100%; 
	padding: 1.4em; 
	border: 3px solid #007acc; 
	border-radius: 10px; 
	margin-bottom: 14px; 
	margin-top: 14px;  
	box-shadow: 7px 7px 5px #cccccc; 
	overflow: hidden;
}
div.practice {
    background-color:#fbfbfb;
    color: #007acc;
    margin: auto;
    width: 100%; 
	padding: 1.4em; 
	border: 3px solid #eeeeee; 
	border-radius: 10px; 
	margin-bottom: 14px; 
	margin-top: 14px;  
	box-shadow: 7px 7px 5px #cccccc; 
	overflow: hidden;
}
div #notebook-container {
	background-color: #ffffff;
	font-size: 1.5em; 
	line-height: 1.6;
	width: 1100px;
	margin: auto;
	padding-right: 150px;
}
.CodeMirror-code {
	font-size: 1.2em;
	line-height: 125%;
	opacity: 0.9;
}

.text_cell_render td {
    border-style: hidden;
}
.text_cell_render table {
    border-style: hidden;
	border-collapse: collapse;
	width: 100%;
    font-size: 80%;
}

.text_cell_render th, td {
	padding: 8px;
}

.text_cell_render tr:nth-child(even){background-color: #e8e8e8}

.text_cell_render th {
    border-style: hidden;
	background-color: #004c80;
	color: #f8f8f8;
}
table td, table th, table tr {
    text-align:left !important;
}
</style>

